GOOGLE_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=faq-agent-project
GEMINI_EMBEDDING_MODEL=models/gemini-embedding-001
GEMINI_CHAT_MODEL=gemini-2.5-flash
EMBEDDING_DIMENSION=768

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=faq_agent
POSTGRES_USER=faq_user
POSTGRES_PASSWORD=faq_password
